<button (click)="getRandomPicture()" class="get-random-pic">Get another picture</button>

<div *ngIf="randomApod" class="random-apod-container">
  <div class="random-text-wrapper">
    <h2>Your picture is:</h2>
  </div>
  <a routerLink="/pictures/{{ randomApod.date }}" class="random-picture-wrapper">
    <div class="random-picture-img-wrapper">
      <img src="{{ randomApod.url }}" alt="apod_{{ randomApod.date }}">
    </div>
    <h3>{{ randomApod.title }}</h3>
  </a>
</div>
