.get-random-pic {
  margin-bottom: 3rem;
  border: none;
  padding: 1rem;
  background-color: var(--color-accent);
  color: var(--color-black);
  font-size: 1rem;
  text-transform: lowercase;
  cursor: pointer;
}

.get-random-pic:hover {
  background-color: var(--color-main);
  color: var(--color-accent);
  transition: .5s;
}

.random-apod-container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}

.random-picture-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.random-picture-wrapper .random-picture-img-wrapper {
  width: 50%;
  margin-bottom: 2rem;
}

.random-picture-img-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}