<button (click)="goBack()" class="go-back">Go Back</button>
<div *ngIf="apod" class="apod-detail-container">
  <div class="apod-detail-info-wrapper">
    <h2>{{ apod.title }}</h2>
    <h3 class="date">{{ apod.date| date: 'dd MMMM YYYY'}}</h3>
    <p>{{ apod.explanation }}</p>
  </div>
  <div class="apod-detail-image-wrapper">
    <img src="{{ apod.url }}" alt="{{ apod.title }}}" title="{{ apod.title }}">
  </div>
</div>
