.go-back {
  border: solid 2px var(--color-accent);
  padding: .5rem 1rem;
  background-color: transparent;
  color: var(--color-accent);
  font-size: 1rem;
  margin-bottom: 1.5rem;
  text-transform: lowercase;
  cursor: pointer;
}

.go-back:hover {
  background-color: var(--color-accent);
  color: var(--color-black);
  transition: .5s;
}

.apod-detail-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.apod-detail-image-wrapper {
  width: 100%;
}

.apod-detail-image-wrapper img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 900px){
  .apod-detail-container {
    grid-template-columns: 1fr;
  }
}