<div class="apod-gallery">
  <div class="gallery">
    <a routerLink="/pictures/{{ apod.date }}" *ngFor="let apod of apods" class="apod-card" (click)="onSelect(apod)">
      <div class="apod-img-wrapper">
        <img src="{{ apod.url }}" alt="">
      </div>
      <div class="apod-title-wrapper">
        <p>{{ apod.title }}</p>
      </div>
    </a>
  </div>
</div>
