.apod-gallery {
  text-align: center;
  margin-bottom: 5rem;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}

.apod-card {
  width: 100%;
  cursor: pointer;
  position: relative;
}

.apod-img-wrapper{
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.apod-img-wrapper img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.apod-title-wrapper {
  position: absolute;
  display: none;
  padding: 1rem;
  top: 0px;
  left: 0px;
  height: calc(100% - 2rem);
  width: calc(100% - 2rem);
  background-color: var(--overlay);
  align-items: center;
  justify-content: center;
}

.apod-title-wrapper p {
  color: var(--color-accent);
  font-weight: 300;
}

.apod-card:hover > .apod-img-wrapper img{
  transform: scale(1.1);
  transition: .5s;
  filter: grayscale(100%);
}

.apod-card:hover > .apod-title-wrapper{
  display: flex;
}