.input-wrapper {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-wrapper input {
  padding: .5rem;
  margin-right: 1rem;
}

.get-date-button {
  border: none;
  padding: .5rem 1rem;
  background-color: var(--color-accent);
  color: var(--color-black);
  font-size: 1rem;
  text-transform: lowercase;
  cursor: pointer;
}

.get-date-button:hover {
  background-color: var(--color-main);
  color: var(--color-accent);
  transition: .5s;
}

.picture-by-date-container {
  padding: 2rem 10rem;
}

.picture-by-date-card {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.picture-by-date-card .picture-by-date-image-wrapper{
  width: 30rem;
}

.picture-by-date-card .picture-by-date-image-wrapper img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.picture-by-date-card h3 {
  font-size: 1.5rem;
  text-align: center;
  padding: 1rem 0;
}