<div class="input-wrapper">
  <input #datePicker type="date">
  <button (click)="getPictureByDate(datePicker.value)" class="get-date-button">Get Picture by Date</button>
</div>

<div *ngIf="picturebyDate" class="picture-by-date-container">
  <a routerLink="/pictures/{{ picturebyDate.date }}" class="picture-by-date-card">
    <div class="picture-by-date-image-wrapper">
      <img src="{{ picturebyDate.url }}" alt="apod_{{ picturebyDate.date }}">
    </div>
    <h3>{{ picturebyDate.title }}</h3>
  </a>

</div>
