<div class="App">
  <header>
    <div class="header-logo-wrapper">
      <svg class="Logo-object Logo-header Logo-isNotTopWhite" width="87" height="56" viewBox="0 0 87 56" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M11.479 10.267h12.279c6.781 0 12.278 5.581 12.278 12.466V35.2H23.757c-6.781 0-12.279-5.582-12.279-12.467V10.267z" fill="#FAD018"></path><path d="M38.204 17.6c0-9.72 7.76-17.6 17.335-17.6h17.335v17.6c0 9.72-7.761 17.6-17.335 17.6H38.204V17.6zM5.202 50.242c-.421-.4-.905-.531-1.47-.531-.698 0-1.083.216-1.083.593 0 .387.349.603 1.106.652 1.12.072 2.54.328 2.54 1.908 0 1.052-.855 1.956-2.553 1.956-.94 0-1.877-.157-2.745-1.062l.721-1.052c.421.472 1.384.823 2.047.833.555.013 1.071-.279 1.071-.711 0-.41-.336-.58-1.179-.63-1.12-.085-2.455-.495-2.455-1.848 0-1.377 1.42-1.862 2.504-1.862.928 0 1.626.18 2.312.787l-.816.967zm7.486-1.596l1.3 4.484 1.361-4.484h1.626l-2.07 5.995h-1.71l-.614-1.764-.53-1.992-.528 1.992-.614 1.764H9.2l-2.084-5.995h1.636l1.361 4.484 1.29-4.484h1.287zm6.775 3.516c.095.738.735 1.269 1.77 1.269.542 0 1.25-.207 1.59-.557l.94.93c-.627.652-1.649.967-2.553.967-2.047 0-3.262-1.268-3.262-3.179 0-1.813 1.228-3.117 3.154-3.117 1.985 0 3.226 1.232 2.997 3.684h-4.636v.003zm3.226-1.222c-.095-.774-.699-1.16-1.541-1.16-.793 0-1.443.386-1.662 1.16h3.203zm3.793 1.222c.095.738.735 1.269 1.77 1.269.542 0 1.25-.207 1.59-.557l.94.93c-.627.652-1.649.967-2.553.967-2.047 0-3.262-1.268-3.262-3.179 0-1.813 1.228-3.117 3.154-3.117 1.985 0 3.226 1.232 2.997 3.684h-4.636v.003zm3.226-1.222c-.095-.774-.699-1.16-1.541-1.16-.794 0-1.443.386-1.662 1.16h3.203zm4.356-3.963v1.692H35.7v1.268h-1.649v2.573c0 .567.314.846.77.846.23 0 .494-.073.712-.18l.409 1.255a3.2 3.2 0 0 1-1.215.252c-1.286.049-2.132-.688-2.132-2.176v-2.573h-1.107v-1.265h1.107v-1.534l1.47-.157z" fill="#fff"></path><path d="M48.22 54.614v-3.576c0-1.147-.77-1.956-1.9-1.956-1.132 0-1.913.845-1.913 1.992v3.54h-.59v-3.54c0-1.147-.784-1.983-1.914-1.983s-1.9.833-1.9 1.983v3.54h-.59v-5.968h.554l.013.99c.408-.787 1.17-1.112 1.94-1.112.904 0 1.854.41 2.203 1.475.363-.98 1.29-1.475 2.204-1.475 1.456 0 2.491 1.026 2.491 2.514v3.576h-.597zm6.788 0V53.54c-.457.823-1.29 1.16-2.12 1.173-1.59 0-2.683-.98-2.683-2.635v-3.444h.591v3.431c0 1.354.83 2.078 2.119 2.065 1.228-.013 2.083-.944 2.083-2.176v-3.32h.591v5.981h-.581zm6.213-4.88c-.6-.53-1.191-.63-1.854-.63-.927-.012-1.819.338-1.793 1.099.023.796 1.058.953 1.806 1.088 1.058.18 2.514.364 2.455 1.753-.036 1.318-1.397 1.669-2.442 1.669-1.048 0-2.083-.4-2.6-1.197l.435-.386c.493.71 1.384 1.016 2.178 1.016.721 0 1.819-.194 1.854-1.138.023-.858-.963-1.026-1.939-1.183-1.156-.193-2.298-.41-2.312-1.606-.013-1.173 1.156-1.678 2.361-1.668.865 0 1.626.242 2.214.796l-.363.387zm3.285-2.886v1.799h2.021v.495h-2.021v3.638c0 .81.17 1.376 1.094 1.376.287 0 .614-.095.914-.242l.206.482c-.373.18-.748.301-1.12.301-1.264 0-1.672-.75-1.672-1.92v-3.635h-1.263v-.495h1.263v-1.74l.578-.06zm9.099 1.797v5.969h-.59v-1.269c-.578.931-1.47 1.367-2.433 1.367-1.662 0-3.02-1.255-3.02-3.08 0-1.826 1.362-3.059 3.02-3.059.963 0 1.94.446 2.433 1.377v-1.305h.59zm-5.452 2.986c0 1.498 1.084 2.5 2.432 2.5 3.311 0 3.311-4.99 0-4.99-1.348 0-2.432.989-2.432 2.49zm7.607-2.985l.023 1.062c.372-.81 1.215-1.124 1.975-1.124.444-.014.879.108 1.277.35l-.265.482a1.91 1.91 0 0 0-1.012-.279 1.981 1.981 0 0 0-1.962 1.993v3.48h-.59v-5.964h.554zm9.87-2.488v8.46h-.578V53.3c-.493.908-1.469 1.412-2.478 1.412-1.661 0-2.974-1.098-2.974-3.08 0-1.97 1.326-3.081 2.984-3.081 1.022 0 1.985.436 2.468 1.402v-3.795h.578zm-5.452 5.474c0 1.655 1.094 2.5 2.432 2.5 1.398 0 2.433-1.026 2.433-2.514 0-1.488-1.058-2.5-2.433-2.5-1.335 0-2.432.832-2.432 2.514z" fill="#FDD219" stroke="#FDD219" stroke-width=".75" stroke-miterlimit="10"></path></svg>
    </div>
    <span>+</span>
    <div class="header-logo-wrapper">
      <img src="assets/images/nasa-logo.svg" alt="nasa">   
    </div>
  </header>
  <nav>
    <a routerLink="/pictures" routerLinkActive="active">Gallery</a>
    <a routerLink="/random" routerLinkActive="active">I'm feeling lucky!</a>
    <a routerLink="/apod-by-date" routerLinkActive="active">Picture by Date</a>
  </nav>
  <router-outlet></router-outlet>
</div>