.App {
  padding: 0rem 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3rem 0;
}

header span {
  margin: 0 1rem;
}

.header-logo-wrapper {
  width: 100px;
}

.header-logo-wrapper img, svg {
  width: 100%;
  height: auto;
  object-fit: cover;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
}

nav a {
  padding: 1rem;
  background-color: var(--color-accent);
  color: var(--color-bg);
  text-decoration: none;
  border: solid 2px var(--color-accent);
  border-radius: .2rem;
}

nav a:hover, nav .active {
  padding: 1rem;
  background-color: var(--color-bg);
  color: var(--color-accent);
  transition: .5s;
}

@media screen and (min-width: 900px){
  .App {
    width: 90vw;
    margin: 0 auto;
  }
}