/* You can add global styles to this file, and also import other style files */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
  padding: 0px;
  margin: 0px;
}

:root {
  --color-main: #8854A1;
  --color-main-dark: #140c18;
  --color-accent: #FFDD6B;
  --color-bg: #100425;
  --color-black: #1f1f1f;
  --color-white: #f9f9f9;
  --overlay: rgba(31, 31, 31, 0.8);
}

body {
  background-color: var(--color-bg);
  color: var(--color-white);
  font-family: 'Roboto';
  font-size: 1rem;
  overscroll-behavior: none;
}

h1, h2, h3 {
  font-weight: 700;
  color: var(--color-accent);
  font-family: 'Poppins';
}

h1 {
  color: var(--color-accent);
  font-size: 3.5rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
